.center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.loader1 {
    border-radius: 50%;
    border: 5px solid #666666;
    border-left: 5px solid white;
    width: 36px;
    height: 36px;
    animation: spin1 2s linear infinite;
}
.loader2 {
    border-radius: 50%;
    border: 3px solid #498bf5;
    border-bottom: 3px solid white;
    width: 24px;
    height: 24px;
    transform: rotate(-45deg);
    animation: spin2 1s linear infinite;
}
.loader3 {
    border-radius: 50px;
    border: 2px solid #666666;
    border-top: 2px solid white;
    width: 14px;
    height: 14px;
    animation: spin3 1s linear infinite;
}
.loader4 {
    border-radius: 50%;
    background-color: #009ee9;
    width: 8px;
    height: 8px;
}

@keyframes spin1 {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

@keyframes spin2 {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes spin3 {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

/* test1 */
.radio-button {
    border: 3px solid #1a1a1a;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    transition: background 600ms ease, color 600ms ease; 
}
.radio-button-left {
    border-radius: 50% 0% 0% 50%;
}
.radio-button-right {
    border-radius: 0% 50% 50% 0%;
}

input[type="radio"].toggle {
    display: none;
}
input[type="radio"].toggle + label {
    cursor: pointer;
    min-width: 60px;
}
input[type="radio"].toggle + label:hover {
    background: none;
    color: #1a1a1a; 
}
input[type="radio"].toggle + label:after {
    background: #1a1a1a;
    border-radius: 50% 0% 0% 50%;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
    z-index: -1;
}
input[type="radio"].toggle.toggle-left + label {
    border-right: 0;
}
input[type="radio"].toggle.toggle-left + label:after {
    left: 100%;
    border-radius: 50% 0% 0% 50%;
}
input[type="radio"].toggle.toggle-right + label {
    margin-left: -5px;
}
input[type="radio"].toggle.toggle-right + label:after {
    left: -100%;
    border-radius: 0% 50% 50% 0%;
}
input[type="radio"].toggle:checked + label {
    cursor: default;
    color: #fff;
    transition: color 200ms;
}
input[type="radio"].toggle:checked + label:after {
    left: 0;
}

/* test 2 */
.switch {
  margin: 100px auto;
  display: flex;
  width: 180px;
  height: 40px;
  border: 3px solid #45f;
  color: #45f;
  font-size: 25px;
  border-radius: 10px;
  background-color: #111;
}

.select-mode {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
  line-height: 40px;
}
.select-mode:first-child label {
  border-radius: 5px 0 0 5px;
}
.select-mode:last-child label {
  border-radius: 0 5px 5px 0;
}
.select-mode label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-style: italic;
  text-align: center;
  transition: transform 0.4s, color 0.4s, background-color 0.4s;
}
.select-mode input[type="radio"] {
  width: 0;
  height: 0;
  opacity: 0;
}
.select-mode input[type="radio"]:focus {
  outline: 0;
  outline-offset: 0;
}
.select-mode input[type="radio"]:checked ~ label {
  background-color: #45f;
  color: #111;
}
.select-mode input[type="radio"]:active ~ label {
  transform: scale(1.05);
}

/* test 3 */
.switch-field {
  padding: 40px;
  overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
   background-color: #A5DC86; 
  box-shadow: none;
  cursor: default;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}